[Unit]
Description=Python Macchinino Server!
After=network.target

[Service]
ExecStart=/bin/bash -c 'sudo sdptool add SP && /usr/bin/python3 /home/romanellas/server.py'
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target